.dart_tool/
.packages
build/
.gradle/
.flutter-plugins
.flutter-plugins-dependencies
*.iml
.idea/
.vscode/
*.apk
*.aab
android/local.properties
android/key.properties
android/upload-keystore.jks
linux/
windows/
macos/
web/
ios/
test/
android/.kotlin/
